extends layout

block content
  h1= title
  form(action='',method='post')
    div
      label(for='name') Name:
      input(type='text', name='name', id='name', placeholder='Name here...', value=employee.name)
    div
      label(for='LastName') Last Name:
      input(type='text', name='lastName', id='lastName', placeholder='Last name...', value=employee.lastName)
    div
      label(for='email') Email:
      input(type='email', name='email', id='email', placeholder='Age...', value=employee.email)
    div
      input(type='submit', value='Save')
  style.
    form label { min-width: 80px; display: inline-block; }
    form > div { padding: 5px; }
