extends layout

block content
  h1= title
  p
    Welcome to Employee Wiki
  div
    input(type='text', name='str', id='str', placeholder='Type to search...')
    input(id='search', type='button', value='Search')
  hr
  div#resul

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script.
    $(document).ready(
      $('#search').click( function () {
        var searching = $('#str').val;
        console.log("-"+searching);
      });
    );
