extends layout

block content
  h1= title
  p Welcome to Employee Wiki
  form(action='', method='post')
    div
      input(type='text', name='search', id='search', placeholder='Type to search...')
      input(type='submit', value='Search' )
    div.content

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script.
    $(document).ready();
